body {
    margin: 0;
    padding: 20px;
    font-family: Tahoma, Arial;
    background: #e5ddd5;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #128c7e;
}

#chat {
    height: 400px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.message {
    background: #dcf8c6;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
}

.send-box input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background: #128c7e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
